lazydocker
awesome/default
*work*
arch_linux.zshrc
lazygit
gh
k9s/config.yml
github-copilot
discord
Trolltech.conf
akregatorrc
autorandr/
baloofilerc
dconf/
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
pulse/
qmk/
systemsettingsrc
gtk-2.0/
neofetch/
nitrogen/
nvm/
package.json
package-lock.json
adventofcode.session
Cider
